# Exclude IDEA configuration files, as usual.
.idea
# Exclude node_modules, it's going to be waaay too large.
node_modules
out
!.idea
/src/mke2fs
/src/mke2fs.conf
/src/fastboot
/src/blinkOS.zip
hprof.conv
make_f2fs
NOTICE.txt
sload_f2fs
source.properties
sqlite3
deployagent
deployagent.jar
deploypatchgenerator.jar
dmtracedump
e2fsdroid
etc1tool
adb
