# Exclude IDEA configuration files, as usual.
.idea
# Exclude node_modules, it's going to be waaay too large.
node_modules
out
!.idea
# Exclude Google licensed software
make_f2fs
mke2fs
mke2fs.conf
NOTICE.txt
sload_f2fs
source.properties
sqlite3
adb
deployagent
deployagent.jar
deploypatchgenerator.jar
dmtracedump
e2fsdroid
etc1tool
fastboot
hprof-conv